In [11]:
import pandas as pd
import neattext.functions as nfx

In [10]:
!pip install neattext

Collecting neattext
  Downloading neattext-0.1.0-py3-none-any.whl (112 kB)
Installing collected packages: neattext
Successfully installed neattext-0.1.0

In [14]:
df= pd.read_csv("udemy_courses.csv")

In [15]:
df.head(3)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance

In [12]:
dir(nfx)

['BTC_ADDRESS_REGEX',
 'CURRENCY_REGEX',
 'CURRENCY_SYMB_REGEX',
 'Counter',
 'DATE_REGEX',
 'EMAIL_REGEX',
 'EMOJI_REGEX',
 'HASTAG_REGEX',
 'MASTERCard_REGEX',
 'MD5_SHA_REGEX',
 'MOST_COMMON_PUNCT_REGEX',
 'NUMBERS_REGEX',
 'PHONE_REGEX',
 'PoBOX_REGEX',
 'SPECIAL_CHARACTERS_REGEX',
 'STOPWORDS',
 'STOPWORDS_de',
 'STOPWORDS_en',
 'STOPWORDS_es',
 'STOPWORDS_fr',
 'STOPWORDS_ru',
 'STOPWORDS_yo',
 'STREET_ADDRESS_REGEX',
 'TextFrame',
 'URL_PATTERN',
 'USER_HANDLES_REGEX',
 'VISACard_REGEX',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__generate_text',
 '__loader__',
 '__name__',
 '__numbers_dict',
 '__package__',
 '__spec__',
 '_lex_richness_herdan',
 '_lex_richness_maas_ttr',
 'clean_text',
 'defaultdict',
 'digit2words',
 'extract_btc_address',
 'extract_currencies',
 'extract_currency_symbols',
 'extract_dates',
 'extract_emails',
 'extract_emojis',
 'extract_hashtags',
 'extract_html_tags',
 'extract_mastercard_addr',
 'extract_md5sha',
 'extract_numbers',
 'extract_pattern',
 'extract_phone_numbers',
 'extract_postoffice_box',
 'extract_shortwords',
 'extract_special_characters',
 'extract_stopwords',
 'extract_street_address',
 'extract_urls',
 'extract_userhandles',
 'extract_visacard_addr',
 'fix_contractions',
 'generate_sentence',
 'hamming_distance',
 'inverse_df',
 'lexical_richness',
 'markov_chain',
 'math',
 'nlargest',
 'normalize',
 'num2words',
 'random',
 're',
 'read_txt',
 'remove_bad_quotes',
 'remove_btc_address',
 'remove_currencies',
 'remove_currency_symbols',
 'remove_custom_pattern',
 'remove_custom_words',
 'remove_dates',
 'remove_emails',
 'remove_emojis',
 'remove_hashtags',
 'remove_html_tags',
 'remove_mastercard_addr',
 'remove_md5sha',
 'remove_multiple_spaces',
 'remove_non_ascii',
 'remove_numbers',
 'remove_phone_numbers',
 'remove_postoffice_box',
 'remove_puncts',
 'remove_punctuations',
 'remove_shortwords',
 'remove_special_characters',
 'remove_stopwords',
 'remove_street_address',
 'remove_urls',
 'remove_userhandles',
 'remove_visacard_addr',
 'replace_bad_quotes',
 'replace_currencies',
 'replace_currency_symbols',
 'replace_dates',
 'replace_emails',
 'replace_emojis',
 'replace_numbers',
 'replace_phone_numbers',
 'replace_special_characters',
 'replace_term',
 'replace_urls',
 'string',
 'term_freq',
 'to_txt',
 'word_freq',
 'word_length_freq']

In [16]:
## Clean text: stop words and special charachter
df['clean_course_title']=df['course_title'].apply(nfx.remove_stopwords)

In [17]:
# Clean Text:stopwords,special charac
df['clean_course_title'] = df['clean_course_title'].apply(nfx.remove_special_characters)

In [21]:
df[['course_title','clean_course_title']].head(3)

,course_title,clean_course_title
0,Ultimate Investment Banking Course,Ultimate Investment Banking Course
1,Complete GST Course & Certification - Grow You...,Complete GST Course Certification Grow Practice
2,Financial Modeling for Business Analysts and C...,Financial Modeling Business Analysts Consultants

In [22]:
# Load ML/Rc Pkgs
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity,linear_kernel

In [23]:
# Vectorize our Text
count_vect = CountVectorizer()
cv_mat = count_vect.fit_transform(df['clean_course_title'])

In [24]:
# Sparse
cv_mat

<3678x3559 sparse matrix of type '<class 'numpy.int64'>'
	with 18333 stored elements in Compressed Sparse Row format>

In [25]:
# Dense
cv_mat.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [27]:
df_cv_words = pd.DataFrame(cv_mat.todense(),columns=count_vect.get_feature_names())
df_cv_words.head()

,000005,001,01,02,10,100,101,101master,102,10k,...,zend,zero,zerotohero,zf2,zinsen,zoho,zombie,zu,zuhause,zur
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# Cosine Similarity Matrix
cosine_sim_mat = cosine_similarity(cv_mat)

In [29]:
cosine_sim_mat

array([[1.        , 0.20412415, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.20412415, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.23570226],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.23570226, 0.        ,
        1.        ]])

In [30]:
# Get Course ID/Index
course_indices = pd.Series(df.index,index=df['course_title']).drop_duplicates()

In [31]:
course_indices

course_title
Ultimate Investment Banking Course                                0
Complete GST Course & Certification - Grow Your CA Practice       1
Financial Modeling for Business Analysts and Consultants          2
Beginner to Pro - Financial Analysis in Excel 2017                3
How To Maximize Your Profits Trading Options                      4
                                                               ...
Learn jQuery from Scratch - Master of JavaScript library       3673
How To Design A WordPress Website With No Coding At All        3674
Learn and Build using Polymer                                  3675
CSS Animations: Create Amazing Effects on Your Website         3676
Using MODX CMS to Build Websites: A Beginner's Guide           3677
Length: 3678, dtype: int64

In [34]:
course_indices['How To Maximize Your Profits Trading Options']

4

In [36]:

idx = course_indices['How To Maximize Your Profits Trading Options']
idx

4

In [42]:
scores = list(enumerate(cosine_sim_mat[idx]))
len(scores)

3678

In [40]:
scores[:10]

[(0, 0.0),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 1.0),
 (5, 0.20412414523193154),
 (6, 0.20412414523193154),
 (7, 0.1889822365046136),
 (8, 0.3779644730092272),
 (9, 0.0)]

In [50]:
# Sort our scores per cosine score
sorted_scores = sorted(scores,key=lambda x:x[1],reverse=True)
sorted_scores[:5]

[(4, 1.0),
 (408, 0.5773502691896258),
 (43, 0.5669467095138407),
 (94, 0.5303300858899106),
 (136, 0.5303300858899106)]

In [55]:
# Select Course Indices
selected_course_scores= [i[0] for i in sorted_scores[1:]]
selected_course_scores[:5]

[408, 43, 94, 136, 193]

In [56]:
recommended_result = df['course_title'].iloc[selected_course_indices]

In [57]:
rec_df = pd.DataFrame(recommended_result)

In [58]:
rec_df.head()

                                          course_title
408                             Trading Options Basics
43    Options Trading - How to Win with Weekly Options
94   Intermediate Options trading concepts for Stoc...
136  Forex Trading with Fixed 'Risk through Options...
193  Trading Options For Consistent Returns: Option...

In [59]:

rec_df['similarity_scores'] = selected_course_scores

In [60]:
rec_df

                                           course_title  similarity_scores
408                              Trading Options Basics                408
43     Options Trading - How to Win with Weekly Options                 43
94    Intermediate Options trading concepts for Stoc...                 94
136   Forex Trading with Fixed 'Risk through Options...                136
193   Trading Options For Consistent Returns: Option...                193
...                                                 ...                ...
3673  Learn jQuery from Scratch - Master of JavaScri...               3673
3674  How To Design A WordPress Website With No Codi...               3674
3675                      Learn and Build using Polymer               3675
3676  CSS Animations: Create Amazing Effects on Your...               3676
3677  Using MODX CMS to Build Websites: A Beginner's...               3677

[3677 rows x 2 columns]

In [62]:

def recommend_course(title,num_of_rec=10):
    # ID for title
    idx = course_indices[title]
    # Course Indice
    # Search inside cosine_sim_mat
    scores = list(enumerate(cosine_sim_mat[idx]))
    # Scores
    # Sort Scores
    sorted_scores = sorted(scores,key=lambda x:x[1],reverse=True)
    # Recomm
    selected_course_indices = [i[0] for i in sorted_scores[1:]]
    selected_course_scores = [i[1] for i in sorted_scores[1:]]
    result = df['course_title'].iloc[selected_course_indices]
    rec_df = pd.DataFrame(result)
    rec_df['similarity_scores'] = selected_course_scores
    return rec_df.head(num_of_rec)

In [63]:
recommend_course('Trading Options Basics',20)

                                          course_title  similarity_scores
95                     Options Trading 101: The Basics           0.866025
193  Trading Options For Consistent Returns: Option...           0.816497
861                                  Basics of Trading           0.816497
66            Options Trading Basics (3-Course Bundle)           0.774597
800           Trading: Basics of Trading for Beginners           0.707107
953  Options Basics & Trading With Small Capital! -...           0.707107
43    Options Trading - How to Win with Weekly Options           0.654654
94   Intermediate Options trading concepts for Stoc...           0.612372
136  Forex Trading with Fixed 'Risk through Options...           0.612372
442  The Advantages of ETF Options and Index Option...           0.612372
801  Options Spreads Bundle-  the heart of Options ...           0.612372
4         How To Maximize Your Profits Trading Options           0.577350
11                     Trading Options With Money Flow           0.577350
68       How I Make Consistent Returns Trading Options           0.577350
133               Forex Trading for Beginners - Basics           0.577350
328           Professional Options Trading, Simplified           0.577350
376        Foundation of Options Trading and Investing           0.577350
512                     Winning Options Trading System           0.577350
645                  Trading News Using Binary Options           0.577350
736                    Advanced Options Trading Course           0.577350